.discovery-page__inner-form {
  display: grid;
  width: 100%;
  grid-gap: 16px;
  margin: 16px 0px;
  box-sizing: border-box;
}

.discovery-page__inner-form__field-wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 600px) {
  .discovery-page__inner-form {
    grid-template-columns: 2fr 1fr;
  }
}