.mini-play-button {
  width: 35px;
  height: 35px;
  padding: 0px;
  border-radius: 100%;
  border: solid 2px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.is-offline .episode__play .mini-play-button {
  pointer-events: none;
  border: solid 2px rgba(255, 255, 255, .3);
  color: rgba(255, 255, 255, .3);
}

.is-offline .episode--downloaded .episode__play .mini-play-button {
  pointer-events: auto;
  border: solid 2px var(--accent-color);
  color: var(--accent-color);
}

.mini-play-button--dark {
  border: solid 2px var(--main-bg-color);
  color: var(--main-bg-color);
}

.mini-play-button--disabled {
  opacity: .5;
  pointer-events: none;
}

.is-not-touch .mini-play-button:hover {
  background-color: rgba(255, 255, 255, .3);
}

.is-touch .mini-play-button:hover {
  animation-name: flashPlayButton;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
}

.mini-play-button--large {
  width: 45px;
  height: 45px;
}

@keyframes flashPlayButton {
  0% {
    background-color: #FFF;
  }

  100% {
    background-color: transparent;
  }
}