.button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 0px 8px;
  cursor: pointer;
  color: var(--main-bg-color);
  white-space: nowrap;
  height: 40px;
}

.is-not-touch .button:hover {
  background-color: var(--accent-color-light);
}

.is-touch .button--flash-ani {
  animation-name: flashButtonAccentColor;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  will-change: transform;
}

.button--full-width {
  width: 100%;
  color: var(--main-bg-color);
}

.button--transparent {
  background-color: transparent;
}

.is-touch .button--flash-ani.button--transparent {
  animation-name: flashButtonTransparent;
}

.button--light-text {
  color: var(--text-color);
}

.button--accent-text {
  color: var(--accent-color);
}

.is-not-touch .button--pointy:hover {
  background-color: var(--text-color);
}

.button--circle {
  width: 40px;
  height: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.button--pointy {
  border-radius: 0px;
}

.button--small {
  font-size: 14px;
  height: 30px;
}

.button--small-circle {
  width: 20px;
  height: 20px;
}

@keyframes flashButtonAccentColor {
  0% {
    background-color: #FFF;
  }

  100% {
    background-color: var(--accent-color);
  }
}

@keyframes flashButtonTransparent {
  0% {
    background-color: #FFF;
  }

  100% {
    background-color: transparent;
  }
}