.header__title {
  color: var(--accent-color);
  text-decoration: none;
}

.header__title:hover,
.header__title:focus {
  color: var(--accent-color-light);
}

.header__title__h1 {
  font-family: 'Bungee', 'Impact' !important;
  margin: 0px;
  line-height: 75px;
}