.header__title {
  color: var(--accent-color);
  text-decoration: none;
}

.header__title:hover {
  animation-name: titleFlash;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
}

.header__title__h1 {
  display: inline-block;
  font-family: 'Bungee', 'Impact' !important;
  margin: 0px;
  line-height: 75px;
}

@keyframes titleFlash {
  0% {
    color: #FFF;
  }

  100% {
    color: var(--accent-color);
  }
}