.podcast-page__summary {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 100px auto;
  margin-bottom: 32px;
}

@media (min-width: 600px) {
  .podcast-page__summary {
    grid-template-columns: 1fr 2fr;
  }
}

.podcast-page__summary__image-wrapper {
  display: block;
  position: relative;
  width: 100px;
  padding-top: 100%;
  background-color: var(--accent-bg-color);
  border-radius: 8px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
}

@media (min-width: 600px) {
  .podcast-page__summary__image-wrapper {
    width: 100%;
  }
}

.podcast-page__summary__image-wrapper__image {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  opacity: 0;
  will-change: opacity;
  transition: opacity .3s ease-in-out;
}

.podcast-page__summary__image-wrapper__image--loaded {
  opacity: 1;
}

.podcast-page__summary__content {
  display: grid;
  grid-template-rows: min-content auto 18px;
}

.podcast-page__summary__content__title {
  margin: 0px;
}

.podcast-page__summary__content__artist {
  font-size: 18px;
}

.podcast-page__summary__content__genre {
  color: var(--mute-color);
}

.podcast-page__episode-list {
  list-style: none;
  padding: 0px;
}

.podcast-page__episodes {
  display: grid;
  margin-top: 16px;
}

@media (min-width: 600px) {
  .podcast-page__episodes {
    grid-gap: 16px;
    grid-template-columns: 1fr 2fr;
  }
}

.podcast-page__episode {
  margin-bottom: 32px;
}

.podcast-page__episode__release-date {
  font-size: 14px;
  color: var(--mute-color);
  font-weight: bold;
}

.podcast-page__episode__title {
  font-weight: bold;
  margin: 0px;
  margin-top: 4px;
  color: var(--accent-color);
}

.podcast-page__episode__description {
  max-width: 100%;
  height: 100px;
  text-align: justify;
  overflow: hidden;
  font-size: 14px;
}

.podcast-page__episode__description a {
  color: var(--accent-color);
}

.podcast-page__episode__play {
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcast-page__form-control__label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.podcast-page__search-tools {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
  align-items: center;
  height: 40px;
}

.podcast-page__search-tools__order-btn {
  background: transparent;
  border: 0px;
  width: 30px;
  height: 30px;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  border-radius: 100%;
  outline: none;
}

.podcast-page__search-tools__order-btn:hover,
.podcast-page__search-tools__order-btn:focus {
  background-color: var(--mute-color);
}

.podcast-page__search-tools__limit-btn {
  background: transparent;
  border: 0px;
  width: 30px;
  height: 30px;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  border-radius: 100%;
  outline: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcast-page__search-tools__limit-btn:hover,
.podcast-page__search-tools__limit-btn:focus {
  background-color: var(--mute-color);
}

.podcast-page__limit-menu {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--accent-bg-color);
  padding: 16px;
  width: 300px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  border-radius: 8px;
}

.podcast-page__limit-menu__title {
  margin: 0px;
  margin-bottom: 16px;
  font-weight: normal;
}

.podcast-page__limit-menu__option {
  width: 100%;
  height: 30px;
  background-color: var(--accent-color);
  border-radius: 8px;
  margin-bottom: 8px;
  border: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.podcast-page__limit-menu__option:hover,
.podcast-page__limit-menu__option:focus {
  background-color: var(--accent-color-light);
}

.podcast-page__read-more {
  text-align: center;
}

.podcast-page__read-more__button {
  padding: 8px 16px;
  border-radius: 16px;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  text-decoration: none;
}

.podcast-page__read-more__button__icon {
  margin-left: 8px;
}