body {
  --main-bg-color: #232F34;
  --accent-bg-color: #4A6572;
  --accent-bg-color-light: #76919e;
  --accent-color: #F9AA33;
  --accent-color-dark: #dd8d16;
  --accent-color-light: #ffbf5d;
  --text-color: #FFF;
  --mute-color: #8C9CA4;

  background-color: var(--main-bg-color);
  margin: 0px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}